@media all and (max-width: 480px) {
  .card-inner-wrapper {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    /* justify-content: space-between; */
    overflow: hidden;
    flex-direction: column;
  }
  .nickname {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }

  .tags {
    width: 80vw;
  }

  .avatar {
    display: flex;

    margin: 10px 10px 10px 8px;
    cursor: pointer;
  }

  .pc {
    display: none;
  }
}

@media all and (min-width: 480px) {
  .card-inner-wrapper {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    overflow: hidden;
  }

  .avatar {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 8px;
    cursor: pointer;
  }

  .mobile {
    display: none;
  }

  .tags {
    /* width: 400px; */
  }
}




.card {
  display: flex;
  box-sizing: content-box;
  margin: 10px;
  width: 90%;
}



.avatar-userdata {
  display: flex;
  
  width: 100%;
}



.user-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}

.nickname-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.nickname {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  align-items: center;
}

.button {
  margin-top: 4px;
  margin-left: 8px;
  min-height: 24px;
  width: 12vh;
}

.follow-btn-true {
  background-color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid #d4d4d5;
  /* margin-left: 10px; */
}

.follow-btn-false {
  background-color: #e8def8;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid #dac6f9;
  /* margin-left: 10px; */
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: clip;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 6px;
  padding: 0 0 0 0;
  cursor: pointer;
}

.tags {
  display: flex;
  box-sizing: border-box;
  overflow: scroll;
  /* width: 30vh; */
  margin-bottom: 10px;
  padding-left: 20px;
  margin-left: -20px;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}

.tags::-webkit-scrollbar {
  display: none;
}

.tags {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

