.searchbar-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 0.8rem;
  width: 60%;
}

.dropdown-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  margin-right: 0px;
}

.dropdown-item {
  font-size: 1.2rem;
  font-weight: 700;
}

.dropdown-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 20px;
}

.search-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #f0f2f4;
  box-sizing: border-box;
  border-radius: 0.8rem;
  padding: auto;
}

.input-wrap {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  width: 100%;
  height: auto;
  line-height: normal;
  font-size: 1rem;
  padding: 0.8em 0.5em;
  padding-left: 3em;
  margin: 0 0 0 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  background: url("../../../img/Search40.svg") no-repeat left;
}

.btn-wrap {
  margin: 0 1rem 0 0;
}

@media screen and (min-width: 777px) and (max-width: 888px) {
  .dropdown-item {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .searchbar-dropdown {
    width: 70%;
  }
}

@media screen and (max-width: 776px) {
  .dropdown-item {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .searchbar-dropdown {
    width: 80%;
  }
}
