.editor-wrapper {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.header {
    width: 100%;
    display: flex;
}

.button {
    height: 48px;
    width: 128px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(70,70,70)
}

.additional-info-wrapper {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding:24px;
}

.title-input {
    width: 100%;
    font-size: 48px;
    height: 52px;
    border: none;
    font-weight: 600;
    margin-bottom:12px;
    
}

.title-input:focus {
    outline:none;
}