@media all and (max-width: 480px) {
  .user-column {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .follow-text {
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
  }
  
  .follow-number {
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
  }

  .user-page-upper {
    display: flex;
    margin-left: 18px;
    /* justify-content: center; */
    /* align-items: flex-end; */
    width: 78%;
    /* margin: 0 auto; */
    /* justify-content: space-evenly; */
  }

  .user-description {
    display: none;
  }

  /* .postcard-container {
    display: none;
  } */

  .pagination {
    display: none;
  }


}

@media all and (min-width: 480px) {

  .follow-text {
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 10px;
  }
  
  .follow-number {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 20px;
  }

  .user-page-upper {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-end; */
    width: 100%;
    /* margin: 0 auto; */
    /* justify-content: space-evenly; */
  }

  .postcard-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}















.user-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 30px auto 20px auto;
}

/* .main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 30px auto 20px auto;
} */















.user-outer-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-wrapper {
  min-width: 400px;
  flex: 1;

  display: flex;
  flex-direction: column;

}

.user-description {
  margin-top: 8px;
}

.avatar-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.nickname {

  font-size: 1.5rem;
  font-weight: 700;
}

.follow-text-wrapper {
  display: flex;
}

.follow-userdata {
}


.userdata {
  display: flex;
  flex-direction: column;
}

.user-column {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.follow {
  display: flex;
  justify-content: space-between;
  align-items: center;

}





.follow-btn-true {
  background-color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  border: 3px solid #e0d3f5;
  margin-left: 10px;
}

.follow-btn-false {
  background-color: #e8def8;
  font-weight: 500;
  font-size: 14px;
  border: 3px solid #e0d3f5;
  margin-left: 10px;
}

.username-department {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-size: 14px;
  margin-right: 20px;
}

.department-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin-right: 10px;
}

.department-data {
  font-size: 1rem;
  font-weight: 400;
}

.tags {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.tags ul {
  list-style: none;
  display: flex;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.no-post {
  margin: 150px auto;
  color: #bdbdbd;
  font-size: 1.4rem;
  font-weight: 700;
}



.postcard-container ul {

  list-style-type: none;
  padding: 0;
}

.plan-card-wrapper {
  margin-top: 21px;
}