.Detail {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

.DetailItem {
  height: auto;
  padding: 30px 60px 30px 60px;
  /* overflow:scroll; */
}

/* .Detail-text-contents {
} */

.title {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 3rem;
  font-weight: 550;
  line-height: 50px;
}

.Detail-info {
  display: grid;
  grid-template-columns: 5fr 5fr;
}

.contents {
  text-align: start;
  margin-top: 50px;
  margin-inline: 70px;
}

.tag-div {
  justify-content: right;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
}

.icons-div {
  justify-content: right;
  display: grid;
  align-items: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
  grid-template-columns: 1fr 2fr 3fr;
}

.icons-like {
  display: flex;
  align-items: center;

}

.icons-div img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.icons-div span {
  display: flex;
  align-items: center;
}

.like-count {
  padding-left: 8px;
}

/* .line {
  width: 100%;
  height: 1px;
  object-fit: cover;
  background-color: #c9c9c9;
  margin-bottom: 4px;
} */

.user-picture {
  height: 32px;
  width: 32px;
  padding: 0 8px 0 8px;
}

.Detail-user {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
}

.Detail-user span {
  margin-right: 20px;
}

.username {
  font-family: Inter;
  font-size: 1rem;
  padding-right: 8px;
}

.date {
  color: #585858;
}

.Detail-comments {
  margin-top: 40px;
  text-align: left;
}

.like {
  margin-inline-end: 20px;
}

.Detail-comments-private {
  display: flex;
  align-items: center;
}

.Detail-comments-plus input {
  margin-inline: 5px;
}


.Detail-comments-plus {
  display: flex;
}

.Detail-comments {
  margin-top: 30px;
}

.Detail-comments-contents-box {
  width: 100%;
  min-height: 90px;
  white-space: pre-wrap;
  word-break: break-all;
  word-break: break-word;
  resize: none;
}

.Detail-comments-contents {
  width: 100%;
}

.Comment-user-picture {
  padding: 0 8px 0 8px;
}

.Comment-user {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.Detail-comments-box {
  /* margin-left: 50px; */
  display: flex;
}

.depth {
  justify-content: right;
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-top: 50px;
  margin-right: 10px;
}

.commentParentWriter {
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.438);
}

.commentContent {
  margin-top: 10px;
  margin-bottom: 10px;
}