@media all and (max-width: 480px) {
    .plan-card-wrapper {
        width: 100vw;
        padding-left: 14px;
        padding-right:14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F8F9FA;
        box-sizing: border-box;
        padding-top:58px;
        height: 100vh;
        overflow: scroll;
    }


    .header {
        position: fixed;
        width:100%;
        top:0;
        display: block;
        background-color: white;
    }

    .plan-card-inner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 64px;
        width: 100%;
    }
    
}

@media all and (min-width: 480px) {
    .plan-card-wrapper {
        /* width: 300px; */
        width: 100%;
        height: 100vh;
        
        /* background-color: red; */
    }


    #header {
        display:none;
    }
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 12px;
    align-items: center;
    height: 54px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 9999;
}

.plan-string {
    
    font-size: 18px;
    font-weight: 700;
}

.new-button {
    /* margin-right: 8px; */
    transition-property: background-color;
    transition-duration: 0.3s;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.new-button:hover {
    background-color: rgb(230, 230, 238);
}