.user-image-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 128px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.label {
    width: 100%;
    height: 100%;;
}

