.recommend-modal {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

.recommend-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* margin: 0 auto 10px 0; */
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.recommend-text {
  font-size: 1.3rem;
  font-weight: 700;
}

.button {
  min-width: 80px;
  min-height: 40px;
}

.recommend-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 36px;
}

.loading {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 45%;
  bottom: 0;
}

.alt-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.alt-inner-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.alt-message-icon {
  display: flex;
  margin-right: 14px;
}

.alt-message-wrapper {
  display: flex;
  /* font-size: 24px;
  font-weight: 700; */
  white-space: pre-line;
  /* color: rgb(130, 130, 130); */

  /* margin-top: 40px; */
  font-size: x-large;
  color: #aaacae;
}

@media screen and (max-width: 486px) {
  .recommend-text {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .alt-wrapper {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin-top: 80px; */
    height: 100%;
  }

  .alt-message-wrapper {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    white-space: pre-line;
    color: rgb(130, 130, 130);
  }
}
