.date-selector-bar {
    height: 36px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    transition-property: width;
    transition-duration: 0.3s;
    /* left: 100px; */
    right: 2600px;
    position: absolute;
    right: 3000px;
    /* pointer-events: none; */
}


.center-move-handler {
    flex: 1;
    background-color: blueviolet;
    height: 36px;
    
}

.resize-handler {
    width: 24px;
    height: 36px;
    background-color: blue;

}



