.editor-wrapper {
    width: 100%;
    height: 100%;
    

}

.line-wrapper {
    /* display: flex;
    flex-direction: column; */
}



.line-indicator {
    width: 24px;
    
}

.line {
    background-color: red;
    width: 80vw;
    height:24px;
    text-align: left;
}